@import "tailwindcss";

@layer base {
  html {
    scrollbar-width: thin;
    scrollbar-color: #9333ea #111827; /* purple-600 gray-900 */
  }

  body::-webkit-scrollbar {
    width: 6px;
  }

  body::-webkit-scrollbar-track {
    background: #111827; /* gray-900 */
  }

  body::-webkit-scrollbar-thumb {
    background: #9333ea; /* purple-600 */
    border-radius: 20px;
  }

  body::-webkit-scrollbar-thumb:hover {
    background: #7e22ce; /* purple-700 */
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1f2937; /* gray-800 */
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #9333ea; /* purple-600 to match theme */
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7e22ce; /* purple-700 */
  }
}
